<div class="ship">
  <div class="arrival"></div>
  <div class="arrival-1"></div>
</div>

<div class="container">
  <div class="balloons"></div>
  <div class="balloons"></div>
  <div class="balloons"></div>
  <div class="balloons"></div>
  <div class="balloons"></div>
</div>

<!-- <div class="container" style="margin-top: 0px; padding: 8px;" >
  <input id="switch" type="checkbox" checked>
  <div class="box" id="box">
    <div class="backside"></div>
    <label for="switch">
      <span class="on">ON</span>
      <span class="off">OFF</span>
      <span class="cube-switch">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </label>
  </div>
  <div class="turned-off"></div>
</div> -->

<div class="moon">
	<div class="crater"></div>
</div>

<div class="footprints">
	<span></span>
	<span></span>
	<span></span>
</div>

 <div class="astronaut" style="margin-left:125px">
    <div class="backpack"></div>
    <div class="head">
      <div class="helmet"></div>
    </div>

    <div class="neck"></div>

    <div class="body"></div>

    <div class="arm right">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="hand"></div>
    </div>

    <div class="arm left">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="hand"></div>
    </div>

    <div class="leg right">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="foot"></div>
    </div>

    <div class="leg left">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="foot"></div>
    </div>
  </div>

  <div class="astronaut" style="margin-right:295px;">

    <div class="backpack"></div>

    <div class="head">
      <div class="helmet"></div>
    </div>

    <div class="neck"></div>

    <div class="body"></div>

    <div class="arm right">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="hand"></div>
    </div>

    <div class="arm left">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="hand"></div>
    </div>

    <div class="leg right">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="foot"></div>
    </div>

    <div class="leg left">
      <div class="top"></div>
      <div class="bot"></div>
      <div class="foot"></div>
    </div>

  </div>
